
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.*.local
.env
.vscode

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs and editors
.idea/
*.sublime-workspace

# Vite cache
/.vite

# Zone identifiers
*Zone.Identifier*