body {
  margin: 0;
  font-family: sans-serif;
}

.email-link-light {
  color: #0066cc !important; /* Default blue color for light backgrounds */
}
.email-link-dark {
  color: #efb8c8 !important; /* light pink for dark backgrounds */
}